name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test on ${{ matrix.cfg.os }}, Python ${{ matrix.cfg.python-version }}, OpenMM ${{ matrix.cfg.openmm }}
    runs-on: ${{ matrix.cfg.os }}
    strategy:
      fail-fast: false
      matrix:
        cfg:
          - { os: macOS-latest,   python-version: 3.6, openmm: latest  }
          - { os: windows-latest, python-version: 3.6, openmm: latest  }
          - { os: ubuntu-latest,  python-version: 3.6, openmm: latest  }
          - { os: ubuntu-latest,  python-version: 3.7, openmm: latest  }
          - { os: ubuntu-latest,  python-version: 3.8, openmm: latest  }
          - { os: ubuntu-latest,  python-version: 3.9, openmm: latest  }
          - { os: ubuntu-latest,  python-version: 3.6, openmm: nightly }

    env:
      OPENMM: ${{ matrix.cfg.openmm }}

    steps:
      - uses: actions/checkout@v1

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      # More info on options: https://github.com/conda-incubator/setup-miniconda
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.cfg.python-version }}
          environment-file: devtools/conda-envs/test_env.yaml
          channels: conda-forge,defaults
          activate-environment: test
          auto-update-conda: true
          auto-activate-base: false
          show-channel-urls: true

      - name: Install OpenMM nightly
        shell: bash -l {0}
        if: matrix.cfg.openmm == 'nightly'
        run: |
          conda install --yes -c omnia-dev openmm

      - name: Install package
        shell: bash -l {0}
        run: |
          python -m pip install . --no-deps -vv
          conda list

      - name: Run tests
        shell: bash -l {0}
        run: |
          # pytest -v --cov=openmmtools --cov-report=xml --color=yes openmmtools/tests/
          nosetests openmmtools/tests --nocapture --verbosity=2 --with-timer --with-doctest -a '!slow'

      - name: CodeCov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests
          name: codecov-${{ matrix.cfg.os }}-py${{ matrix.cfg.python-version }}
