name: Self-Hosted Runner
on:
  workflow_dispatch:

jobs:
  start-aws-runner:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      mapping: ${{ steps.aws-start.outputs.mapping }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::009563297724:role/gha-runner-omsf
          aws-region: us-east-1
      - name: Create cloud runner
        id: aws-start
        uses: omsf-eco-infra/gha-runner@v0.4.0
        with:
          provider: "aws"
          action: "start"
          aws_image_id: ami-053912f3a44543f8c 
          aws_instance_type: g4dn.xlarge
          aws_region_name: us-east-1
          aws_home_dir: /home/ubuntu
          aws_tags: >
            [
              {"Key": "Application", "Value": "chodera-lab"}, 
              {"Key": "Application-ID (APM)", "Value": "APM0003545"}, 
              {"Key": "Cost-Center", "Value": "50612"}, 
              {"Key": "Owner-Email", "Value": "choderaj@mskcc.org"}, 
              {"Key": "Env", "Value": "research"}
            ]
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

  self-hosted-test:
    runs-on: self-hosted
    timeout-minutes: 720  # 12 hours  
    defaults:
      run:
        shell: bash -leo pipefail {0}

    needs:
      - start-aws-runner
    steps:
      - uses: actions/checkout@v4

      - name: Print disk usage
        run: "df -h"

      - name: Print Docker details
        run: "docker version || true"

      - name: Check for nvidia-smi
        run: "nvidia-smi"

      - name: "Setup Micromamba"
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: devtools/conda-envs/test_env.yaml
          environment-name: openfe_env

      - name: "Check if OpenMM can get a GPU"
        run: python -m openmm.testInstallation

      - name: "Install"
        run: python -m pip install --no-deps -e .

      - name: "Environment Information"
        run: |
          micromamba info
          micromamba list
          pip list

      - name: "Run tests"
        run: |
          pytest -n 4 -v --durations=10 --cov=openmmtools --cov-report=term

  stop-aws-runner:
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: read
    needs:
      - start-aws-runner
      - self-hosted-test
    if: ${{ always() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::009563297724:role/gha-runner-omsf
          aws-region: us-east-1
      - name: Stop instances
        uses: omsf-eco-infra/gha-runner@v0.4.0
        with:
          provider: "aws"
          action: "stop"
          instance_mapping: ${{ needs.start-aws-runner.outputs.mapping }}
          aws_region_name: us-east-1
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
